@tailwind base;
@tailwind components;
@tailwind utilities;


.hero{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    height: 100vh;
    position: relative;
}

.hero-overlay{
    position: absolute;
    align-items: center;
    text-align: center;
    padding: 4rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(75, 75, 74, 0.5);
    width: 100%;
}

.nav{
    position: absolute;
    top: 0;
    z-index: 1000;
}

